@media (max-width: 997px) {
    header{
        padding: 10px 20px;
    }
    header.sticky {
        background: #6abdc6;
    } 
    header .navigation {
        display: none;
    }
    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    
    .hamburger .bar, .hamburger::after, .hamburger::before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #fff;
        margin: 6px 8px;
        transition: 0.5s;
    }
    
    .hamburger.is-active::before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    
    .hamburger.is-active::after {
        transform: rotate(45deg) translate(-9px, -8px);
    }
    
    .hamburger.is-active .bar {
        opacity: 0;
    }
    
    .mobile-nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        display: block;
        z-index: 98;
        background-color: var(--principal);
        padding-top: 150px;
        transition: 0.5s;
    }
    
    .mobile-nav.is-active {
        left: 0;
    }
    
    .mobile-nav a {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 20px auto 20px;
        text-align: center;
        padding: 12px 16px;
        background-color: #01bcd1;
    
        color: #000;
        text-decoration: none;
        font-weight: 500;
    }
    
    .mobile-nav a:hover {
        background-color: #75f1ff;
    }
    .banner-sec .content h2 {
        font-size: 4em;
    }

    .banner-sec .content p {
        font-size: 1.5em;
    }
    .banner-sec .content .btn {
        font-size: 2em;
    }


    .titleText h1 {
        font-size: 30px;
    }

    .services {
        flex-basis: 100%;
    }
    .services-img {
        flex-basis: 100%;
    }
    .services-img img {
        width: 100%;
    }
    .site-description {
        transform: translate(-50%,40%);
    }
    .site {
        flex-basis: 100%;
    }
    hr {
        margin: 5px auto;
    }
    .site-description h3 {
        font-size: 20px;
    }
    .site-description p {
        font-size: 15px;
        color: #fff;
    }
    .button-container {
        margin: 10px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-container a {
        width: 170px;
        padding: 0;
        border: .5px solid #fff;
        margin-bottom: 10px;
    }
    .button-container a i {
        margin-right: 10px;
    }
    .main-content {
        flex-direction: column;
    }
    .left .content-box .social a i {
        margin-top: 0;
    }
    .right .content-box .place {
        justify-content: flex-start;
    }
}